.main__content {
  width: 600px;
}
.main__post {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 20px 0;
  border-bottom: 1px solid #ccc;
}
.main__post--avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  cursor: pointer;
}
.main__post--link {
  display: flex;
  padding: 2px;
  align-items: left;
  border: none;
  out-line: none;
  background: transparent;
  color: #999;
  flex: 1;
  cursor: text;
}
.main__post--button {
  font-size: 15px;
  padding: 7.5px 16px;
  color: #fff;
  font-weight: bold;
  background: #b1b1b1;
  border: none;
  outline: none;
  border-radius: 20px;
}
.main__status {
  display: flex;
  width: 100%;
  gap: 10px;
  padding: 20px 0;
  border-bottom: 1px solid #ccc;
}
.main__status--ava-contain {
  position: relative;
}
.main__status--button-follow {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20px;
  height: 20px;
  color: white;
  background: black;
  border-radius: 50%;
  border: 2px solid white;
  top: 25px;
  left: 25px;
  cursor: pointer;
}
.main__status--content {
  flex: 1;
  display: flex;
  flex-direction: column;
}
.main__status--header {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  gap: 8px;
}
.main__status--username {
  font-size: 15px;
  font-weight: bold;
  flex: 1;
  cursor: pointer;
}
.main__status--time {
  color: #999;
}
.main__status--text
{
    margin-bottom: 10px;
}
.main__status--image
{
    width: 230px;
    border-radius:4px;
    margin-right: 10px;
    margin-bottom: 10px;
}
.main__status--action
{
    display:flex;
    align-items:center;
    gap: 10px;
}
.main__status--heart{
    font-size:20px;
}
.main__status--heart-count
{
    font-size:15px;
    color: black;
}