.login__container {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login {
    width:370px;
    display:flex;
    flex-direction:column;
    font-size:16px;
}
.login__title
{
    width:100%;
    margin: 16px 0;
    text-align: center;
    font-size:16px;
    font-weight:bold;
}
.login__input
{
    padding:16px;
    border:none;
    outline:none;
    background:#f5f5f5;
    margin-bottom:10px;
    border-radius:10px;
    line-height:22.4px;
    font-size:15px;

}
.login__button
{
    margin-bottom:20px;
    padding:16px;
    font-size:15px;
    color:#ffffff;
    background:black;
    border:none;
    outline:none;
    border-radius:10px;

}
.login__navigate
{
    display: flex;
    justify-content: center;
    align-items: center;
    gap:4px;
}
.login__error
{
    margin-bottom: 10px;
    margin-right:2px;
    color: #be123c;
}