.user__infor
{
    display:flex;
    padding-top: 16px;
}
.user__infor--account
{
    display:flex;
    flex-direction: column;
    justify-content: center;
    flex: 1;
}
.user__name
{
    margin-bottom: 10px;
    font-size: 24px;
    font-weight:bold;
}
.user__username
{
   
    font-size: 15px;

}
.user__avatar
{
    width: 86px;
    height: 86px;
    border-radius: 50%;
    overflow: hidden;
}
.user__avatar--image
{
    width: 100%;
    height:100%;
    border-radius: 50%;
}
.user__bio
{
    margin: 16px 0;
    font-size: 15px;
}
.user__social
{
    margin-top:18px;
    margin-bottom:16px;
    display:flex;
}
.user__social--follow{
    flex:1
}
.user__social--follow-infor
{
    font-size:15px;
    color: #999;
    margin-right:20px;
}
.user__social--icon
{
    font-size: 24px;
    text-decoration:none;
    color: black;
    cursor: pointer;
}

.profile__edit
{
    margin: 12px 0;
    width:100%;
}
.profile__edit--button{
    background:transparent;
    border:1px solid #ccc;
    outline:none;
    padding:7px 0px;
    width:100%;
    border-radius:10px;
    font-size: 15px;
    font-weight:bold;
}

.profile__status
{
    width: 100%;
    display:flex;
}
.profile__status--header
{
    padding: 16px;
    width:100%;
    border-bottom: 1px solid #ccc;
    text-align:center;
}
.profile__status--header-active
{
    border-bottom: 1px solid black;
}